/* General */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5dc; /* Color arena */
    color: #4f4f4f;
}

header {
    background-color: #87ceeb; /* Azul cielo pastel */
    color: #2e4a62; /* Azul oscuro */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #2e4a62; /* Azul oscuro */
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4682b4; /* Azul acero */
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #b0e0e6, #f0e68c); /* Azul pálido y arena */
    color: #2e4a62; /* Azul oscuro */
    border-radius: 0 0 50px 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero button {
    padding: 15px 30px;
    background-color: #f4a460; /* Arena pastel */
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: #d2b48c; /* Arena más suave */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}

.card {
    background-color: #add8e6; /* Azul claro pastel */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px 40px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4682b4; /* Azul acero */
    color: white;
    margin-top: 20px;
    font-size: 0.9em;
}

footer p {
    margin: 5px 0;
}
